doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/Bootstrap-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')

    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/3.0.3/spacelab/bootstrap.min.css')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js")
    //script(src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js")
    //script(src='/datatable/js/jquery.dataTables.min.js')
    //script(src='/javascripts/dataTableIntergration.js')
    //script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/dynatable/jquery.dynatable.js')
  body
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Web Sys
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/Demo') Demo
    #body.container
      block content